.local/share/*
!.local/share/fonts/
!.local/share/applications/
.local/state/*

!.local/bin/*

.config/dconf/*
.config/QtProject.conf
.config/qt6ct/*
.config/pulse/*
.config/xfce4/*
.config/xsettingsd/*
.config/BraveSoftware/*
.config/libreoffice/*
